body {
    font-family: Arial, sans-serif, 'Times New Roman', Times, serif;
    text-align: center;
                background-color: rgb(216, 252, 252);
    margin: 0;
    padding: 0%;
    display: flex;
                background-size: cover;
                background-position:left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
}
.im {
    height: 75%; 
    margin-right: 10%;
}
.hm {
    height: 40px; 
    margin-right: 10%;
}
.LSP {
    color: rgb(255, 255, 255);        
    display: inline-block;
    text-align: center;
    height: 100%;
    width: 19%;
    background-color: rgb(0, 0, 0);
}
.mi {
    height: 80%;
    width: 60%;
    border-width: 5px;
    border-radius: 10%;
    border-color: black;
    position: inherit;
    left: 10%;
    align-items: center;
}
header {
    height: 10%;
    width: 100%;
    text-align: left;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 1;
}
main {
    height: 70%;
    margin-top: 15%;
}
footer {
    height: 5%;
    padding-top: 10px;
    position: fixed;
    bottom: 0%;
    background-color: rgb(191, 218, 219);
    width: 100%;
}
.tab {
    width: 80%;
}
table,th,td {
    border-width: 1%;
    padding: 2%;
    background-color: rgb(213, 214, 241);
    text-align: center;
    border: 2px solid #000;
    border-collapse: collapse;

}
th {
    background-color: rgb(0, 180, 252);
    color: white;
}
h2 {
    color: blue;   
    font-size: 100*2%;
    text-align: center;
}
.space{
    height: 20%;
    background-color: rgb(216, 252, 252);
    margin: 10%;
}